body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E465B;
    padding: 10px 20px;
    color: white;
}

.header-title {
    margin: 0
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left select {
    margin: 0 5px;
}

.logo {
    text-align: center;
    flex-grow: 1;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.main {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    background-image: url("../img/left-panel.png");
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

.add-contact {
    background-color: #cd3739;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    border-radius: 10px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu-item {
    padding: 10px 0;
    border-bottom: 1px solid #444;
    display: flex;
    justify-content: space-between;
}

.btn-session {
    padding: 10px;
    margin-top: auto;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    font-family: "Roboto Bold";
    color: #FFF;
}

.btn-login {
    background-color: rgb(2, 128, 2);
    border: solid 2px green;
}

.btn-logout {
    background-color: #cd3739;
    border: solid 2px red;
}

.content {
    flex-grow: 1;
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #cd3739;
    color: white;
}

.role {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.role.designer {
    background-color: #ff4c4c;
}

.role.developer {
    background-color: #ffcc00;
}

.role.hr {
    background-color: #4caf50;
}

.role.manager {
    background-color: #3f51b5;
}

.role.president {
    background-color: #e91e63;
}

tr:hover {
    background-color: #f1f1f1;
}

td i {
    color: #333;
    cursor: pointer;
}

.logotipo {
    width: 140px;
}

.container-button-add {
    width: 200px;
    display: flex;
    justify-content: center;
}

.action-btn {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

/* Modal confirmacion */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 8px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
}

.confirm-btn {
    background-color: #d9534f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-btn {
    background-color: lightgray;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.confirm-btn:hover,
.cancel-btn:hover {
    opacity: 0.9;
}

.modal-buttons {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}