body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.header-title {
    margin: 0
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left select {
    margin: 0 5px;
}

.logo {
    text-align: center;
    flex-grow: 1;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.main {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.add-contact {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: left;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu-item {
    padding: 10px 0;
    border-bottom: 1px solid #444;
    display: flex;
    justify-content: space-between;
}

.create-tag {
    background-color: transparent;
    color: #fff;
    border: 1px solid #ff4c4c;
    padding: 10px;
    margin-top: auto;
    cursor: pointer;
    text-align: left;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.role {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.role.designer {
    background-color: #ff4c4c;
}

.role.developer {
    background-color: #ffcc00;
}

.role.hr {
    background-color: #4caf50;
}

.role.manager {
    background-color: #3f51b5;
}

.role.president {
    background-color: #e91e63;
}

tr:hover {
    background-color: #f1f1f1;
}

td i {
    color: #333;
    cursor: pointer;
}
